<h1>Personajes de Honkai Star Rail</h1>
<ul>
  @for (post of posts; track post.name) {
    <li>
      <h3>{{ post.name }}: {{ post.rarity }}⭐</h3>
      <p><strong>Elemento:</strong> {{ post.element }}</p>
      <p><strong>Via:</strong> {{ post.path }}</p>
      <h4>Icono</h4>
      <img src="https://raw.githubusercontent.com/Mar-7th/StarRailRes/master/{{ post.icon }}" alt="{{ post.name }} icon" width="150">
      <br><br>
      <h4>Splash Art</h4>
      <img src="https://raw.githubusercontent.com/Mar-7th/StarRailRes/master/{{ post.portrait }}" alt="{{ post.name }} portrait" width="350">
      <br><br>
    </li>
  }
</ul>